sudo: false
language: ruby
rvm:
  - 2.6.4
  - 2.5.6
  - 2.4.7
  - 2.3.8
  - 2.2.10
  - 2.1.10
  - 2.1.0
before_install:
  - if ! [[ `ruby -v | cut -d' ' -f2` > "2.3" ]]; then gem install bundler -v '< 2'; fi;
addons:
  apt:
    config:
      retries: true
    packages:
      - imagemagick
      - libmagickcore-dev
      - libmagickwand-dev
      - graphicsmagick
